<%- include ../components/header.ejs %>
<%- include ../components/main_nav.ejs %>
  
  <!-- Projects Content -->
  <main class="projects">
    <div class="container">
      <div class="section-title">
        <h2>Projects</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="../../../Client/Assets/images/project1.jpg">
              <div class="work-img">
                <img src="../../../Client/Assets/images/project1.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">POS Software for restaurant</h2>
                  <div class="w-more">
                    <span class="w-ctegory">First project</span> / <span class="w-date">January 2022</span>
                    <p class="w-description">First project to help restaurants make sale and store ingredients.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../../../Client/Assets/images/project2.jpeg">
              <div class="work-img">
                <img src="../../../Client/Assets/images/project2.jpeg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title"> Personal finance management application</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Second project</span> / <span class="w-date">May 2022</span>
                    <p class="w-description">Solution for banks to manage online banking users.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/Assets/images/project-3.jpg">
              <div class="work-img">
                <img src="/Assets/images/project-3.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Restaurant Website</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Freelance</span> / <span class="w-date">May 2021</span>
                    <p class="w-description">
                      Simple website developed using PHP, HTML5 and CSS for a restaurant located in Mexico.
                      The website displays the restaurant's menu and the different restaurant locations.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- End Projects Content -->

<%- include ../components/bottom_nav.ejs %>  
<%- include ../components/footer.ejs %>